/*Reset Style*/
/* * {
    margin:0;
    padding:0;
    font-family:Arial, "times New Roman", tahoma;
    font-size:13px;
}*/
html {
    font-family:Arial, "times New Roman", tahoma;
    font-size:13px;
    color:#000000;
}
body {
    font-family:Arial, "times New Roman", tahoma;
    font-size:13px;
    padding:0;
    margin:0;
    color:#000000;
    text-align: center;
}
#a4{
    text-align: left;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
#a4L{
    text-align: left;
    width: 29cm;
    margin-left: auto;
    margin-right: auto;
}
@media print{
    thead {display: table-header-group}
}

@media all
{
    .page-break { display:none; }
    .page-break-no{ display:none; }
}
@media print{
    .page-break { display:block;height:1px; page-break-before:always; }
    .page-break-no{ display:block;height:1px; page-break-after:avoid; }
}
@media screen{
    .page-break { display:block;height:20px;}
}
@media screen{
    .foot_br {display:block; height: 100px}
}
@media screen{
    #a4{
        margin-top: 20px;
    }
    #acL{
        margin-top: 20px;
    }
}

p.caption{
    padding: 4px 0 15px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
p.caption2{
    padding: 0px 0px 15px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
p.description{
    padding: 4px 0 4px 0;
}

table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 13px;
}
table.size10{
    font-size:10px;
}
table th{
    border: 1px solid gray;
    padding: 8px 3px;
}
table td{
    border: 1px solid gray;
    padding: 5px 3px;
}

table.letter td{
    border:none;
}

@media print{
    td{
        padding: 5px 0px;
    }
    table.letter{
        border:none;
    }
}
.letter_footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
}